/* @import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap'); */

*, *:before, *:after {
	box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

canvas {
    position: fixed;
    max-width: 100%;
    width: 100%;
    top: unset;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
}

#preloader {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    background: radial-gradient(circle closest-side,#000 94%,#0000) right/calc(200% - 1em) 100%;
    animation: l24 1s infinite alternate linear;
  }
  .loader::before {
    content: "Loading...";
    line-height: 1em;
    color: #0000;
    background: inherit;
    background-image: radial-gradient(circle closest-side,#fff 94%,#000);
    -webkit-background-clip:text;
            background-clip:text;
  }
  
  @keyframes l24{
    100%{background-position: left}
  }


  /* HTML: <div class="dots"></div> */
.dots {
    color: #7cf49a;
    width: 4px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
    transform: translateX(-38px);
    animation: l21 .5s infinite alternate linear;
  }
  
  @keyframes l21 {
    50%  {box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px}
    100% {box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px}
  }

  .loader-dots {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .65);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 9;
  }
